:root{
    --cor-branco: #FFF;
    --cor-azul-claro: #DFE3E5;
    --cor-vermelho-forte: #B72E2E;
    --cor-cinza-escuro: #4F4C4C;
    --cor-cinza-claro: #F7F4F4;
    --cor-cinza-medio: #D9D9D9;
    
    --cor-fonte-link: #0084FF;
    --cor-fonte-cinza: #666;
    --cor-borda-cabecalho-mobile: #103D4A;
    --cor-bg-rodape: #333;
    --cor-bg-chamada-mobile: #00161C;

    --cor-planos-cartao-start: #56CCF2;
    --cor-planos-cartao-ultra: #B04CD9;
    --cor-planos-cartao-mega: #E33B3B;

    --fonte-documento: 'Montserrat', serif;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding-left: 6%;
    padding-right: 6%;
}

.botao{
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid #FFF;
    border-radius: 5px;
}